/* General Styles */
.events-page {
  display: flex; 
  padding: 20px; 
  background-color: #007BFF;
}

.button-container {
  display: flex;            
  justify-content: center; 
  margin: 20px 0;         
}

/* Filter Component Styles */
.filter-component {
  flex: 1; 
  max-width: 300px; 
  padding: 20px; 
  margin: 20px 50px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.filter-item {
  margin-bottom: 10px; 
}

.filter-item label {
  display: block; 
  font-weight: 600; 
  margin-bottom: 5px; 
  color: #444; 
}

.filter-item select,
.filter-item input[type="range"] {
  width: 94%; 
  padding: 8px; 
  margin-bottom: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 14px; 
}

.filter-component button {
  width: fit-content; /* Change from 100% to fit-content */
  padding: 10px 20px; /* Add horizontal padding */
  background-color: #007BFF; /* Primary button color */
  color: #ffffff; /* White text for contrast */
  border: none; 
  border-radius: 4px; 
  font-size: 16px; 
  cursor: pointer; 
  font-weight: bold; 
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.filter-component button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Event List Styles */
.event-list {
  display: flex; 
  flex-wrap: wrap; 
  flex: 2; 
  gap: 15px; 
}

.ui.card {
  flex: 0 1 calc(35% - 15px); 
  margin-bottom: 10px; 
  transition: transform 0.2s; 
}

.ui.card:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Responsive Design */
@media (max-width: 768px) {
  .events-page {
    flex-direction: column; 
  }

  .filter-component {
    margin-right: 0; 
    margin-bottom: 20px; 
  }

  .ui.card {
    width: 100%; 
    flex: 0 1 100%; 
  }
}
