.filter-component {
 border:  3px solid  #2A0C3E;
 border-radius: 7px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: #D9D9D9;
 padding:10px;
 width: 350px;
 font-style: italic;
}

.button {
 background-color: #D9D9D9;
 color: #2A0C3E;
 border: 3px solid #2A0C3E;
 border-radius: 7px;
 width: 300px;
 height: 150px;
 cursor: pointer; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
 margin: 10px;
 font-size: large;
}

.title {
 font-size: large;
 margin-top: 5px;
}

