.filter-component {
  border: 3px solid #007BFF; /* Primary color for borders */
  border-radius: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #444; /* Darker text color for better contrast */
  padding: 10px;
  width: 350px;
  font-style: italic;
  background-color: #ffffff; /* White background for clarity */
}

.button {
  background-color: #007BFF; /* Primary color for button background */
  color: #ffffff; /* White text for contrast */
  border: 3px solid #2A0C3E; /* Maintain border color for consistency */
  border-radius: 7px;
  width: 300px;
  height: 150px;
  cursor: pointer; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  margin: 10px;
  font-size: large;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.title {
  font-size: large;
  margin-top: 5px;
  color: #2A0C3E; /* Use the primary dark color for the title */
}
