.quotebox {
  background-color: #f9f9f9; 
  padding: 20px;             
  border-radius: 8px;        
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
  margin: 20px 0;            
  text-align: center;        
}

.quote {
  font-size: 18px;           
  font-style: italic;        
  /* color: #333; */          
}

.error {
  color: red;                
  text-align: center;        
}

.loading {
  color: #555;               
  text-align: center;        
}

